@import "tailwindcss";

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 23 23 23;
  }

  .dark {
    --background: 10 10 10;
    --foreground: 237 237 237;
  }

  html:focus-within {
    scroll-behavior: smooth;
  }

  body {
    background-color: rgb(var(--background));
    color: rgb(var(--foreground));
    @apply antialiased;
  }
}

@layer utilities {
  .visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }
}

